[submodule "crowdfunding-project/lib/forge-std"]
	path = crowdfunding-project/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "yield-farming-staking-project/lib/forge-std"]
	path = yield-farming-staking-project/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "yield-farming-staking-project/lib/openzeppelin-contracts"]
	path = yield-farming-staking-project/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
